@import "tailwindcss";

:root {
  --background: #E9F2DF;
  --foreground: oklch(21% 0.034 264.665);
  --background-layout: #19260F;
  --background-second: #465938;
  --background-card: #9EA697;
  --button-primary-color: #19260F;
  --button-primary-hover: #465938;
  --button-danger-hover: oklch(44.4% 0.177 26.899);
  --button-danger-color: oklch(57.7% 0.245 27.325)
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #234015;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-primary{
  background-color: var(--button-primary-color);
}
.btn-primary:hover{
  background-color: var(--button-primary-hover);
}
.btn-danger{
 background-color: var(--button-danger-color);
}
.btn-danger:hover{
  background-color: var(--button-danger-hover);
 }
 .bg-primary{
  background-color: var(--background-layout);
 }
 .bg-secondary{
  background-color: var(--background-second);
 }
 .bg-card{
  background-color: var(--background-card);
 }
